
.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    height: 24px;
}

.searchButton {
    border: 1px solid rgb(72, 201, 72);
    border-radius: 10px;
    border-color: rgb(72, 201, 72);
    margin-right: 5px;  
    background-color: white;  
}


.inputSize {
    border: 1px solid rgb(72, 201, 72);
    height: 26px;
    border-radius: 10px;
    outline: none;
}